*.o
*.obs
*.ini
*.local
Release
Release_Build
Debug_Build
__history
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
*.*db
.qmake.stash
*tlog
*.stat
*.cbproj.local
*.stat
*.stat
*.cbproj.local
/app/convbin/gcc/convbin
/app/pos2kml/gcc/pos2kml
/app/rnx2rtkp/gcc/rnx2rtkp
/app/rtkrcv/gcc/rtkrcv
/app/rtkrcv/gcc/rtkrcv.nav
/app/str2str/gcc/str2str
/lib/iers/gcc/iers.a
